@import "../../node_modules/font-awesome/less/font-awesome.less";
@import "./theme.css";

.made-with {
  text-align: center;
  .fa-heart {
    color: red;
  }
  .made-with-flag {
    background: red;
  }
}

.jumbotron {
  margin-bottom: 0;
  &:nth-child(odd) {
  }
  &:nth-child(even) {
    background: transparent;
    border: 0;
  }
}
