<div class="modal fade" id="requestStep1Dialog" tabindex="-1" role="dialog" aria-labelledby="requestStep1DialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestStep1DialogLabel">Sign-in to GitHub</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section class="modal-body">
                <p>
                    The server list is managed with GitHub issues.
                    Please sign-in to GitHub in order to create an issue.
                </p>
                <a href="auth/github" class="btn btn-block btn-secondary" type="button">
                    <i class="fa fa-github"></i>
                    Sign-in
                </a>
            </section>
        </div>
    </div>
</div>
